<!DOCTYPE html>
<html>
<head>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= image_tag("https://elym-airbnbclone.s3.amazonaws.com/uploads/logo/airbnb.svg", style: 'height:150%;width:auto;') %></a>
      </div>
      <ul class="nav navbar-nav">

        <% if signed_in? -%>
          <% if current_user.customer? -%>
            <li class="home"><%= link_to t("Home"), sign_in_path %></li>
            <li class="all_listings"><%= link_to t("All Listings"), listings_all_path %></li>
            <li class="your_listings"><%= link_to t("My Listings"), user_listings_path(current_user.id) %></li>
            <li class="my_profile"><%= link_to t("My Profile"), user_path(current_user.id), method: :get %></li>
            <div class="img-circle"><%= image_tag(current_user.image.thumb.url) %></div>
            <li id="sign_out"> <%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>



            <% elsif current_user.moderator? -%>

              <li class="home"><%= link_to t("Home"), sign_in_path %></li>
              <li class="all_listings"><%= link_to t("All Listings"), listings_all_path %></li>
              <li id="sign_out"> <%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
                <li class="unverified_listings"><%= link_to t("Verify Listings"), user_listings_path(current_user.id) %></li>
              <% end -%>

              <% else -%>
                <li id="sign_in"> <%= link_to t(".sign_in"), sign_in_path %></li>

            <% end -%>
      </ul>
    </div>
  </nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
